.container{
    margin-bottom: 100px;
}
.nav-link{
    color: rgb(0, 0, 0);
}
.sign-in{
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}
#red{
    color: red;
}
#black{
    color: black;
    font-weight: 700;
}
#green{
    color: green;
}
.get-started{
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}
.cat1, .cat2, .cat3, .cat4{
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow:5px 5px 10px lightgray;
    background-color: whitesmoke;
    
}
.cat1:hover{
    background-color: white;
}
.cat2:hover{
    background-color: white;
}
.cat3:hover{
    background-color: white;
}
.cat4:hover{
    background-color: white;
}
.categories img{
    width: 50px;
}
.card img{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.footer img{
    width: 30px;
    height: 25px;
    margin: 0;
}
.man img{
    width: 80px;
    height: 80px;
    
}
.background{
    background-color: black;
    color: white;
    padding: 40px 70px 0 40px;
}
footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}